

html {
	padding: 0 25px;
	max-width: 60rem;
	min-height: 300px
}


h2 {
	color: yellowgreen;
	text-align:center;
}

body {
	background-color: #101010;
	color: darkgrey;

	font: normal 14.9px monospace;
	line-height: 1.6em;
}

/*links*/

a {
	text-decoration: none;
	color: cadetblue;

}

a:hover {
	color: orangered;
	text-decoration: underline;
}

a:active {
	color: green;
}

#main-header {
	text-align: center;
	background-color: black;
	color: white;
	padding: 10px;

}

#main-footer {
	text-align: center;
	font-size: 18px;
}

